<!--  Assignment 1 John Tran 301165631 October 2021 -->
<nav class="navbar fixed-bottom" style="font-size: 8pt; background-color: rgba(0, 0, 0, 0.199)">
    <div class="container-fluid">&copy Copyright John Tran Fall 2021</div>
</nav>