<!--  Assignment 1 John Tran 301165631 October 2021 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    </head>
<body>
    <!-- Main Navigation Section --> 
    <%- include('partials/header.ejs'); %>


    <!-- Content Section -->
    <div class="container">
        <%- include('content/' + page + '.ejs'); %>
    </div>


    <!-- JavaScript Section -->
    <script src="./jquery/dist/jquery.min.js"></script>
    <script src="./bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./@fortawesome/fontawesome-free/js/all.min.js"></script>

    <script src="/scripts/app.js"></script>

    <!-- Footer -->
    <%- include('partials/footer.ejs'); %>

</body>
</html>
