<!--  Assignment 1 John Tran 301165631 October 2021 -->
<!-- welcome text -->
<div class="homeTitle"
    style="font-size: 15vw; font-weight: bolder; color: #A0DAA9; text-align: center; margin-top: 10%;">
    Hello,
</div>

<!-- brief intro message -->
<div style="font-size: 15pt; text-align: center; letter-spacing: 5px">my name is John and our mission here is to develop
    for the future.</div>

<!-- read more button -->
<p>
    <div align="center">
        <a class="nav-link" href="/about"><button class="button button1 slideUp">Read More</button></a>
    </div>
</p>