<!--  Assignment 1 John Tran 301165631 October 2021 -->
<div class="content">
<h1 class="pageTitle"><%= title %></></h1>

<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
<div id="section1" class="container-fluid bg-success text-white" style="padding:100px 20px;">
    <a href="http://studentweb.cencol.ca/jtran73/index.html"><h1>Project 1: Baby Steps</h1></a>
    <p>First website create using html and css in Fall 2020 semester 1.</p>
    <p>This website still stands with a compilation with later learned javascript skills.</p>
</div>
    </div>
    <div class="carousel-item">
<div id="section2" class="container-fluid bg-warning" style="padding:100px 20px;">
  <h1>Project 2 - Future: dorm.ly</h1>
  <p>A project is not yet in development. The idea was conceived by few of the greatest minds.</p>
  <p>This is an application that is intended to be a solution for shared-living spaces anywhere in the world.</p>
  </div>
    </div>
    <div class="carousel-item">
      <div id="section3" class="container-fluid bg-secondary text-white" style="padding:100px 20px;">
  <h1>Project 3 - Future: Contained Webchat</h1>
  <p>In the near future, I will be looking to develop a contained webchat that will allow close friends and family to utilize.</p>
  <p>The chat will include various APIs to help create a responsive chatting experience.</p>
</div>
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
</div>