<!--  Assignment 1 John Tran 301165631 October 2021 -->
<div class="content">
<h1 class="pageTitle"><%= title %></></h1>
<div class="row">
  <div class="col-sm-4">
  <div class="card-text" style="background-image: url('./images/webdesign_1_free.png');">
    Web Application Development
  </div></div>

  <div class="col-sm-4">
  <div class="card-text" style="background-image: url('./images/webdesign_2_free.png');">
  Software Development
  </div></div>

  <div class="col-sm-4">
    <div class="card-text" style="background-image: url('./images/webdesign_3_free.png');">
    UX/UI Design
  </div></div>
</div>
</div>





